body{
    margin: 0;
    background:url("./img/background.jpg") ;
    -webkit-background-size:cover ;
    -moz-background-size: cover;
    background-size: cover;
    -moz-background-size:cover ;
    direction: rtl;
} 