@font-face {
    font-family: yekan;
    src: url('../fonts/BYekan.ttf');
  }

.mycard{
    max-width: 350px;
    
    

}

*{
    font-family: yekan !important;
}
.media{
    height: 140px
}

.mainbody{
    width: 100%;
}

.sotoon{
    height: 400px;
    width: 33.3%;
    display: inline-block;
    padding-right: 90px;
    padding-top: 50px;
}
